<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moita.mapper.EmployeeMapper">

    <sql id="select">
        SELECT e.id AS employee_id,
               e.name AS employee_name,
               e.company_id AS company_id,
               s.description AS skill
        FROM employee e
        JOIN skill s
        ON e.id = s.employee_id
    </sql>

    <select id="findEmployeeById" resultType="org.moita.domain.Employee">
        <include refid="select"/>
        WHERE id = #{id}
    </select>

    <select id="findEmployeeByName" resultType="org.moita.domain.Employee">
        <include refid="select"/>
        WHERE name = #{name}
    </select>

    <select id="findAll" resultMap="employeeResultMap">
        <include refid="select"/>
    </select>

    <resultMap id="employeeResultMap" type="org.moita.domain.Employee">
        <id property="id" column="employee_id" />
        <result property="companyId" column="company_id"/>
        <result property="name" column="employee_name"/>
        <collection property="skills"
                    javaType="java.util.List"
                    ofType="org.moita.domain.Skill">
            <result column="skill"/> <!-- https://github.com/mybatis/mybatis-3/issues/1091 -->
        </collection>
    </resultMap>

</mapper>